@model IEnumerable<Site.Models.ProdutoModels>

    @{
        ViewBag.Title = "Produto";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Produto</h2>
<div>
    <span>@ViewBag.Token</span>
    <span>@ViewBag.Expires</span>
</div>
    @Html.AntiForgeryToken();

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <p>
        @Session["token"]
    </p>

    @if (Model != null)
    {
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.Preco
                    </td>
                    <td>
                        @item.Categoria
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }

        </table>
    }
